<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Enterprise AngularJS</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body ng-app = "loginModule">
		<div class="jumbotron">
	        <div class="container">
		        <div class="col-xs-offset-2 col-xs-8">
			    	<div ng-view></div>
			    </div>
		    </div>
	    </div>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.5.0/angular-route.js" charset="utf-8"></script>
		
		<script src="/WEB-INF/public/js/app-router.js"></script>
		<script src="/WEB-INF/public/js/service/loginService.js"></script>
		<script src="/WEB-INF/public/js/controller/loginController.js"></script>  
</body>
</html>